html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

#Hellow{
  font-weight: bold;
  font-size: 70px;
  margin-top: 25px;
  padding-left: 2em;
}
#logo{
  font-weight: bold;
  font-size: 70px;
  margin-top: 25px;
  padding-left: 1em;
  display:grid;
  grid-template-columns: 40% 60%
}

.logo>div:nth-child(even){
    align: left;
}


label{
  font-weight: bold;
}
btn btn-primary{
    background-color: black;
}

