{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'style_detail.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet">

</head>
<body>

<div id="DETAIL">
    <h1 style="align-text: center"><i>DETAIL//</i></h1>
    <a href="{% url 'Schedule' %}">
        <p> back</p>
    </a>
</div>
<div class="container" style="align: left">
    <div class="row">
        <div class="col">
            <form action='' method="POST">
                {% csrf_token %}
                {{ form }}
                <br>
            </form>
        </div>
        <div class="col" id="tulisan">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Mata Kuliah</th>
                    <th scope="col">Dosen</th>
                    <th scope="col">SKS</th>
                    <th scope="col">Deskripsi</th>
                    <th scope="col">Semester</th>
                    <th scope="col">Kelas</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">{{matkul.matkul}}</th>
                    <td>{{matkul.sks}}</td>
                    <td>{{matkul.dosen}}</td>
                    <td>{{matkul.deskripsi}}</td>
                    <td>{{matkul.sem}}</td>
                    <td>{{matkul.kelas}}</td>
                    {% comment %}
<!--                    <td>{{jadwal.sks}}</td>-->
<!--                    <td>{{jadwal.dosen}}</td>-->
<!--                    <td>{{jadwal.sks}}</td>-->
<!--                    <td>{{jadwal.deskripsi}}</td>-->
<!--                    <td>{{jadwal.sem}}</td>-->
<!--                    <td>{{jadwal.kelas}}</td>-->
                    {% endcomment %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>