{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'style_sched.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet">

</head>
<body>

<div id = "logo">
    <a href="{% url 'homepage:Home' %}">
    <img src="{% static 'logo copy.png' %} " width="40px" height="50px" >
    </a>
    <h1 style="align: center"><i>SCHEDULE--</i></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <form action='' method="POST">
                {% csrf_token %}
                {{ form }}
                <br>
                <div class="centre-items">
                    <input type="submit" class="btn btn-primary" value="Add Schedule" style="background-color: black; border-color: black;">
                </div>
            </form>
        </div>
        <div class="col" id="tulisan">
            <table class="table">
                <thead>
                <tr>
                   <th scope="col">Mata Kuliah</th>
<!--                    <th scope="col">Dosen</th>-->
<!--                    <th scope="col">SKS</th>-->
<!--                    <th scope="col">Deskripsi</th>-->
<!--                    <th scope="col">Semester</th>-->
<!--                    <th scope="col">Kelas</th>-->
                </tr>
                </thead>
                <br>
                <tbody>
                {% for jadwal in form2 %}
                <tr>
                    <th scope="row">{{jadwal.matkul}}</th>

<!--                    <td>{{jadwal.sks}}</td>-->
<!--                    <td>{{jadwal.dosen}}</td>-->
<!--                    <td>{{jadwal.deskripsi}}</td>-->
<!--                    <td>{{jadwal.sem}}</td>-->
<!--                    <td>{{jadwal.kelas}}</td>-->

                    <td><a href="{% url 'hapus' pk=jadwal.pk %}"><button class="btn btn-icon btn-danger"><i class="fa fa-trash"></i></button></a></td>
                    <td><a href="{% url 'detail' pk=jadwal.pk %}"> <button class="btn btn-info"></button></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<br>
<div class="container">
    <p align="center">Copyright © 2020 Nikita Jacey.</p>
</div>
</html>