
{% extends 'base.html' %}
{% load static %}


{% block title %}<title> Upsynth </title> {% endblock %}
    {%block style %}<link rel="stylesheet" type="text/css" href=" {% static 'style_about.css' %} "> {%endblock%}

<!--
    <div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">

            <div class="collapse navbar-collapse navbar-menubuilder" ;>
                <ul class="nav navbar-nav navbar-left" align="center">
                    <li><img src="{% static 'logo copy.png'%} " width="30px" height="40px" ></li>

                    <li><a href="{% url 'homepage:Home'%}">Home</a>
                    </li>
                    <li><a href="{% url 'homepage:about_me'%}">About Me</a>
                    </li>
                    <li><a href="{% url 'homepage:contacts'%}">Contacts</a>
                    </li>
                    <li><a href="{% url 'homepage:memories'%}">Memories</a>
                    </li>
                    <li><a href="{% url 'homepage:index'%}">Story-1</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>-->

{% block content %}
        <br>
        <br>
        <br>
        <br>

    <div CLASS="konten" id="about">
        <h1 style="color: black;"><b><i>ABOUT ME</i></b></h1>
        I’m a student that currently enrolled at the University of Indonesia majoring in System Information on 2nd semester.

        <br>
        <div>
            <h3><i>EXPERIENCES--</i></h3>
            <p>I have a lot of interest on creative field especially in design. I can operate Adobe Photoshop and sometimes Adobe Illustrator.</p>
            <p>Publication Division of Pancawarna 2018</p>

            <p>Head of Year Book Committee 2018</p>

            <p>Campaign Division of PEMIRA Fasilkom UI 2019</p>

            <p>Head of Visual Design Committee for Zona Kampus 2020</p>

            <p>HRD of DNC COMPFEST 12</p>
        </div>

    </div>
    <div class="kotak" style="color: white; font-size: 20px">
        <a href="https://drive.google.com/file/d/0B7ZGVy2Hi48cMURXRG9wczlsZDM0RTVwYTl1QWtmaFRQTHVn/view?usp=sharing" target="_blank">
        See my full CV here
        </a>
    </div>
    <div class ="konten" id="interest">
        <h3><i>INTEREST--</i></h3>
        <p>I also have interest in analog camera, I find it thrilling on the waiting process when developing the camera. Here’s a few pictures that I took</p>
        <div class="foto" id="baris1">
            <div><img src= "{% static 'BC5DB132-0B8A-4FC0-9A0A-D9E7C85025C6.jpeg'%}" width="200px" height="120px"> </div>
            <div><img src="{% static 'lab2625.jpg'%}" width="200px" height="120px"></div>
            <div><img src="{% static 'lab2622.jpg' %}" width="200px" height="120px"></div>
        <p><i>colored</i></p>
        </div>
        <br>
        <br>
        <br>
        <div class="foto" id="baris2">
            <div><img src="{% static 'lab2606.jpg'%}" width="200px" height="120px"> </div>
            <div><img src="{% static 'lab2610.jpg'%}" width="200px" height="120px"></div>
            <div><img src="{% static 'lab2620.jpg'%}" width="200px" height="120px"></div>
            <p><i>black & white</i></p>
        </div>
        <br>

<br>
<br>


    <div class="container">
        <p align="center">Copyright © 2020 Nikita Jacey.</p>
    </div>
        {%endblock%}

