{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}  {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css'%}">
    {%block style%} {% endblock %}

</head>
    {% block js%}
    {% endblock %}
<body>
{% include "navbar.html" %}
    {% block content %}

    {% endblock  %}


</body>
    {% block footer %}
    {% endblock %}

</html>
