{% extends 'base.html' %}
{% load static %}
{% block style%}<link rel="stylesheet" type="text/css" href="{% static 'style_contact.css'%}">{% endblock%}

{% block content%}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
<div id="contact" style="color: black">
        <div id="email">
            EMAIL
            <p>nikita17jacey@gmail.com</p>
        </div>
     <br>
        <div><a href="https://www.instagram.com/nikita.natania/" target="_blank" style="color: black">INSTAGRAM</a></div>
            <br>
        <div><a href="id.pinterest.com/nktjcy/>PINTEREST" target="_blank "style="color: black"</a></div>

    <div><a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_nav-header-signin" target="_blank" style="color: black">LINKEDIN</a></div>
            <br>
        <div><a href="https://open.spotify.com/user/nktjcy?si=4hyYd67XTM6Oe3Pamhsibg" target="_blank" style="color: black">SPOTIFY</a></div>
    </div>
</

{% endblock %}