
{% extends 'base.html' %}
{% load static %}


{% block title %}<title> Upsynth </title> {% endblock %}
<!--<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'style_home.css'%}">
</head>-->
{%block style %} <link rel="stylesheet" type="text/css" href="{% static 'style_home.css'%}"> {% endblock%}
    {% block content %}
    <!--<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <div class="collapse navbar-collapse navbar-menubuilder" ;>
            <ul class="nav navbar-nav navbar-left" align="center">
                <li><img src="{% static 'logo copy.png' %} " width="30px" height="40px" ></li>

                <li><a href="{% url 'homepage:Home' %}">Home</a>
                </li>
                <li><a href="{% url 'homepage:about_me'%}">About Me</a>
                </li>
                <li><a href="{% url 'homepage:contacts'%}">Contacts</a>
                </li>
                <li><a href="{% url 'homepage:memories'%}">Memories</a>
                </li>
                <li><a href="{% url 'homepage:index'%}">Story-1</a>
                </li>
            </ul>
        </div>
    </div>
</div>-->
    <br>
    <br>
    <br>
    <br>
    <div class= "d-flex p-2" align="center">

            <img src="{% static 'hello copy.png'%}" alt="hello" width="300" height="100" align="center">
            <br>
            <img src="{% static 'ui.png'%}" alt="Photo Profile" width="" height="200" align="center"/>
        <h2>Nikita Jacey Natania</h2>
        <br>
        <p>17 November 2001</p>
        <p>Scorpion</p>
        <p>Class of Fasilkom UI 2023</p>
        <p>1906353933</p>
        <p>ENFP-T</p>
    </div>
    <hr>
    <h3 ><i>Recomendations--</i> </h3>
    <div class= "d-flex p-2" id="book" align="center">

        <br>
        <h4>BOOK OF THE MONTH</h4>
        <img src="{% static 'Pulang-Alt.jpg'%}" alt="Pulang" style="width:195px;height:290px; ;background: url(Pulang-Alt.jpg);box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
        <div id="synopsis">
            <p>
            This book tells story about Indonesian history between 1965 and 1998 through the eyes of a
               family caught up in the tumultuoys events of the period.
               Dimas Suryo is a journalist with slight left-ish leanings,
               so it’s lucky that he’s out of the country in 1965 when a
               Communist coup fails, thereby avoiding the inevitable and
               bloody backlash. Though -- while he is free from the fear of
               arrest and torture, he can never go home... </p>
            <a href="https://tonysreadinglist.wordpress.com/2015/10/18/home-by-leila-s-chudori-review/"; style="font-size:13px;align: center;">by Tony’s Reading List, 2016.</a>
        </div>
    </div>
    <br>
    <BR>
    <h4 align="center"">SONGS OF THE MONTH</h4>
    <br>
    <div class="wrapper">
        <div align="center">
            <img src="{% static 'summum bonum.jpeg'%}" alt="summum bonum" style="position: relative; width: 150px; height: 150px;background: url(summum bonum.jpg); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
        </div>
        <div align="center">
            <img src="{% static 'gilbert.jpeg'%}" alt="Alone Again Naturally" style="position: relative; width: 150px; height: 150px;background: url(summum bonum.jpg); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
        </div>

        <div align="center">
            <i>Summum Bonum</i>
            by
            Sunset Rollercoaster
        </div>
        <div align="center">
            <i>Alone Again Naturally</i>
            by
            Gilbert O'Sullivan
        </div>


    </div>
    <br>
    <hr>
    <div class="logo">
    <div align="right">
        <img src="{% static 'logo copy.png'%}" alt="logo" style="width: 40 px; height: 80px">
    </div>
    <div align="left">
        <b>about the logo</b>
        <p>upsynth is a nickname that I frequently use. I colored it yellow because it represented happiness and joy!</p>
    </div>

</div>
    <br>
<footer class="footer">
    <div>
        <p align="center">Copyright © 2020 Nikita Jacey.</p>
    </div>
</footer>
{% endblock %}

