{% extends 'base.html' %}

{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'story.css'%}"> {% endblock %}

{% block content %}
        <div id="header">
            <div id="back">
            <a href="{% url 'homepage:Home'%}"><h1>♡</h1> </a>
            </div>
            ✧･ﾟ: *✧･ﾟ:* Hello  *:･ﾟ✧*:･ﾟ✧
        </div>
    <br>
<br>

            <div id="profile">
                 <img src="{% static 'profile.png'%}" alt="Photo Profile" width="150" height="150" align="center"/>
                 <p>#111</p>
            </div>

            <div id="main">
                <h2>About me</h2>
                <table style="width:70%">
                    <tr>
                        <td>Name</td>
                        <td>Nikita Jacey Natania</td>
                    </tr>
                    <tr>
                        <td>NPM</td>
                        <td>1906353933</td>
                    </tr>
                    <tr>
                        <td>Student of</td>
                        <td>Fasilkom UI 2019 <a href="https://maung.id/nikita.jacey" target="_blank"> <i>MAUNG</i></a></td>
                    </tr>
                    <tr>
                        <td>Hobbies</td>
                         <td>Watching movies</td>
                </table>
                <br>
                <p><font size="6">"</font> I dont like pink <font size="6"> "</font></p>
                <br>
                <h2>Education</h2>
                <table style="width:100%">
                    <tr>
                        <td>SD Tarakanita 5</td>
                        <td>2007 — 2013</td>
                    </tr>
                    <tr>
                        <td>SMP Tarakanita 4</td>
                        <td>2013 — 2016</td>
                    </tr>
                    <tr>
                        <td>SMA Negeri 81 Jakarta</td>
                        <td>2016 — 2019</td>
                    </tr>
                    <tr>
                        <td>University of Indonesia</td>
                        <td>2019 — 2023 <i>expected</i></td>
                    </tr>
                </table>
                <br>
            </div>
            <div id="socmed">
                <h2>Social Media</h2>
                <a href="https://www.instagram.com/nikita.natania/" target="_blank">
                    <img src="{% static 'insta.png'%}" alt="Ig @nikita.natania" width="50" height="50" hspace="20"/>
                </a>
                <a href="https://www.facebook.com/nikita.jacey" target="_blank">
                    <img src="{% static 'fb.png'%}" alt="FB Nikita Jacey" width="50" height="50" hspace="20"/>
                </a>
                <a href="https://www.linkedin.com/in/nikita-j-539a92138" target="_blank">
                    <img src="{% static 'linked.png'%}" alt="LinkedIn Nikita Jacey" width="50" height="50" hspace="20" />
                </a>
                <a href=" https://www.youtube.com/channel/UCTOTE16syO0-yNZEP2whkuw" target="_blank">
                    <img src="{% static 'youtube.png'%}" alt="Youtube Nikita Jacey" width="50" height="50" hspace="20"/>
                </a>
                <a href="https://id.pinterest.com/nktjcy/" target="_blank">
                    <img src="{% static 'pinterest-logo.png'%}" alt="Pinterest Nikita Jacey" width="50" height="50" hspace="20"/>
                </a>
            </div>
    <br>
{% endblock %}

{% block footer %}
    <div id="footer1">
        Copyright &copy; 2020 Nikita Jacey.
    </div>
{%endblock%}