{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upsynth</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css'%}">
</head>
<body>
    <div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left" align="center">
                <li><img src="{% static 'logo copy.png' %} " width="30px" height="40px" ></li>

                <li><a href="{% url 'homepage:Home' %}">Home</a>
                </li>
                <li><a href="{% url 'homepage:about_me'%}">About Me</a>
                </li>
                <li><a href="{% url 'homepage:contacts'%}">Contacts</a>
                </li>
                <li><a href="{% url 'homepage:index'%}">Story-1</a>
                </li>
                <li><a href="jadwal/">Schedule</a>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>