body{
    background-image: radial-gradient(circle,#d53369, #cbad6d);

}
#container{
    margin-left: auto;
    margin-right: auto;
    width: 800px
}

#header {
    background-color: #d53369;
    color: white;
    text-align: center;
    padding: 5px;
}

#main{
    width:600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right:30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(255,250,250,0.5);
    align:center;
}

#profile{
    color: white;
    text-align: center;
}

#footer1{
    clear:both;
    padding:10px;
    text-align: center;
    background-color: #d53369;
    color:white;
}
#socmed{
    text-align: center;
    color:white;
}

#back{
    float: left
}