#synopsis{
padding-left: 5em;
padding-right:5em;
}


#music{
position:relative;
width: 100%;
margin-left: auto;
margin-right: auto;

}

body{
    background-image: url("bg2.jpg");
    background-repeat: no-repeat;
    size: 100%
}
hr {
    border: 0.5px solid black;
}

#synopsis{
margin-left: auto;
margin-right: auto;
}

.wrapper{
    display:grid;
    grid-template-columns: 50% 50%
}
.wrapper>div:nth-child(odd){
    margin-left:calc(100% - 75%);
}
.wrapper>div:nth-child(even){
    margin-right:calc(100% - 75%);
}

.logo{
    display:grid;
    grid-template-columns: 50% 30%
}

.logo>div:nth-child(odd){
    margin-left:calc(100% - 75%);


}
.logo>div:nth-child(even){
    margin-right:calc(100% - 75%);
    padding-left: 1em;

   }
h3{
padding-left:5em;
}



